.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    rgb(230, 64, 114),
    rgb(218, 77, 171)
  );
}

h1 {
  color: #fff;
  font-size: 2.5vw;
}

.main-title {
  font-size: 4vw;
}

.logo {
  height: 25vw;
  width: 30vw;
  display: flex;
}

.foto {
  height: 30vw;
  width: 20vw;
  display: flex;
}
